.DS_Store
/.idea/
mulval/mulval.iml
/output/
/mulval/target
/mulval/bin
/fullstack/frontend/node_modules/*
/fullstack/backend/.gradle
/fullstack/backend/.idea
/fullstack/backend/bin
/fullstack/backend/build
/fullstack/frontend/build
/fullstack/target/
*.wxam
*.class
*.o
