/.idea/
/KotlinClient/.idea/
mulval/mulval.iml
KotlinClient/target/
KotlinClient/client.iml
/output/

/FSKotlinClient/.gradle
/FSKotlinClient/.build
/FSKotlinClient/build
/FSKotlinClient/.idea

/fullstack/frontend/node_modules/*
