.DS_Store
/.idea/
/KotlinClient/.idea/
mulval/mulval.iml
KotlinClient/target/
KotlinClient/client.iml
/output/
/mulval/target
/fullstack/frontend/node_modules/*
/fullstack/backend/.gradle
/fullstack/backend/.idea
/fullstack/backend/build
/fullstack/frontend/build
/fullstack/target/
*.wxam
*.class
*.o
