.dropdown-control {
    background-color: black;
    border-color: transparent;
}

.dropdown-placeholder {
    color : #30414b;
}

.dropdown-arrow {
    border-color: #30414b transparent transparent;
}

.is-open .dropdown-arrow {
    border-color: transparent transparent #30414b;
    border-width: 0 5px 5px
}

.score {
    background-color: black;
    border: none;
}

.custom-technique-container {
    display: flex;
    flex-direction: column;
}

.technique { 
    margin-bottom: 0.5rem;
}

.label-custom { 
  color : #B1C5CB;
}