.simulationSidebar {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-icons {
  padding : 10px;
  font-size: 1.25rem;
  background: none;
  cursor: pointer;
  display: block;
}

.menu-content {
  background-color: #414952;
  /* background-color: #060b26; */
  color: #30414B;
  width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 2;
}

.menu-content.active {
  right: 0;
  transition: 350ms;
}

.menu-content-items {
  width: 100%;
}

.radio-group {
  color: #B1C5CB!important;
}

.radio-button {
   color: #B1c5cb;
}

.radio-button.Mui-checked {
            color: #B1c5cb,
}

.center-children {
    width: 100%;
    text-align: center;
    justify-content: center;
}

#sim-submit-button.position-bottom {
    display: flex;
    position: absolute;
    right: 0.25rem;
    bottom: 3rem;
}
