html { 
  height : 100%
}

body {
  height : 100%;
  margin: 0;
}
#root {
  background-color: #0a111f;
  /* background-color: #708090; */
  height : 100%;
}

.content-color {
  color: #05b2dc;
  background-color: #0a111f;
}

.App {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  color: #05b2dc;
  /* color: #0aa689; */
}

.no-item {
  display : flex;
  width: 100%;
  height : 100%;
  background: #0a111f;
  color: #05b2dc;
  /* background : #808080; */
  justify-content : center;
  align-items: center;
}

.input-button {
  position : absolute; 
  z-index : 1;
  border: 1px solid #121F38;
  background-color: #060A12;
  color: #05b2dc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.input-custom {
  display: inline-block;
  z-index : 1;
  border: 1px solid #121F38;
  background-color: #060A12;
  color: #05b2dc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.device {
  color: #fca311;
}


input[type="file"] {
  display: none;
}


.generate-button {
  margin-top: 20px;
}

.attack-graph {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topology {
  flex: 1
}

.gutter-vertical {
  background-image: url('../public/vertical.png');
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}

.App.reflex-container.vertical > .reflex-splitter {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  background-color: #121F38;
}

.fill {
  width: 100%;
  height: 100%;
}

.center {
  margin: 40%;
}

.heading {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}

.right-aligned {
  display: flex;
  justify-content: flex-end;
}

.dropdown {
  width: 80%;
  display: inline-flex;
  gap: 10px;
}

.App .Dropdown-root, .App .Dropdown-control {
  border: none;
  min-width: 10rem;
}

.App .Dropdown-option, .App .Dropdown-root, .App .Dropdown-control, .App .dropdown-color {
  border: 1px solid #121F38;
  background-color: #060A12;
  color: #05b2dc;
}

.App .Dropdown-option.is-selected {
  color: #0a111f;
  background-color: #05b2dc;
}

.App .Dropdown-option:hover {
  color: #0a111f;
  background-color: #fca311;
}

.build-panel > div {
  margin-bottom: 10px;
}

.input-width {
  color : #05b2dc;
  width: 5rem;
  min-width: 150px;
  max-width: 200px;
  box-sizing: content-box;
  margin: 1px 2px;
  color : #05b2dc;
}